form [class^=pri-] {border: none; font-size: .8125rem;}
form .pri-1 {color: rgb(255 73 18/var(--tw-text-opacity));}
form .pri-2 {color: rgba(var(--color-warning-600-rgb),var(--tw-text-opacity));}
form .pri-3 {color: rgba(var(--color-gray-600-rgb),var(--tw-text-opacity));}
