.risk-basic-info .datalist-item-label {width: 80px;}
.risk-basic-info [class^=pri-] {border: none; font-size: .8125rem;}
.risk-basic-info .pri-1, .risk-basic-info .status-active {color: rgb(255 73 18/var(--tw-text-opacity));}
.risk-basic-info .pri-2 {color: rgba(var(--color-warning-600-rgb),var(--tw-text-opacity));}
.risk-basic-info .pri-3 {color: rgba(var(--color-gray-600-rgb),var(--tw-text-opacity));}
